:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(20, 16, 16, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  /* margin: 0; */
  display: block;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 768px) {
  /* CSS styles for smaller screens */
}
.about-me {
  background: url('../public/DSC01950-01.jpeg') no-repeat center center fixed;
  background-size: fill;
  min-height: 100vh;
  color: white;
  background-color:#242424
}

.portfolio {
  background: url('../public/DSC01570-01.jpeg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}

.contact-container {
  background: url('../public/DSC00323-01.jpeg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh; /* Ensure the container covers the full height of the viewport */
}

.contact {
  max-width: 800px; /* Increase the max-width to make the form wider */
  margin: 0 auto;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.8); /* Optional: Add a semi-transparent background to the form */
  border-radius: 10px; /* Optional: Add some rounding to the form */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add some shadow for better visibility */
}

.contact label {
  display: block;
  margin-top: 1rem;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.contact button {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.contact button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 0.875rem;
}

.resume {
  background: url('../public/DSC00181-02-01-01-01.jpeg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  color: turquoise;
}

.portfolio-container {
  background: url('/path/to/background-image.jpg') no-repeat center center fixed;
  background-size: cover;
}
.projects {
  background: url('../public/DSC01570-01.jpeg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}
